.simple-survey {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: Arial;
}

.survey-creator {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Arial;
}

.survey-host-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.survey-h1 {
  color: #f0ffff;
  align-self: center;
  margin-top: 80px;
}

.survey-nav-div {
  font-family: Verdana,sans-serif;
  font-size: 15pt;
  display: block;
  width: 100%;
  align-self: flex-start;
}

.survey-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.survey-nav-list-item {
  float: left;
}

.survey-nav-list-item a {
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.survey-nav-list-item a:hover {
  background-color: #2f4f4f;
}


.question-input {
  flex-direction: column;
  align-items: left;
  margin-left: 5vw;
  width: 60vw;
}

.question-display {
  flex-direction: column;
  align-items: left;
  margin-right: 5vw;
  width: 40vw;
}

.question-input-item {
  flex-direction: column;
  align-items: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.question-input-button {
  align-self: flex-end;
}

.question-option-input {
  flex-direction: column;
  align-items: left;
}

.option-list {
  width: 40vw;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.question-list {
  width: 40vw;
  display: inline-block;
}

.survey-label {
  color: #f0ffff;
  width: 20vw;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 5px;
}

.survey-combo {
  color: #f0ffff;
  background-color: #282c34;
  caret-color: #f0ffff;
  column-rule-color: #f0ffff;
  height: 32px;
  width: 40vw;
  font-size: 14;
  border-color: #f0ffff;
  align-self: flex-end;
}

.free-text-item {
  line-height: 90vh;
}

.survey-text-input {
  display: inline-block;
  height: 28px;
  width: 40vw;
  font-size: 14;
  border-color: #f0ffff;
  border-width: 1px;
  align-self: flex-end;
}

.single-choice-list {
  color: #f0ffff;
  background-color: #282c34;
  font-size: 14;
  width: 40vh;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  align-self: flex-end;
}

.survey-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.survey-button {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.survey-add-button {
  display: inline-block;
  align-self: flex-start;
  width: 20vw;
  margin-top: 5px;
}